<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.taxsms">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 读取短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 删除短信权限 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 广播接受 -->
    <uses-permission android:name="com.example.broadcast.permission" />
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <receiver 
        android:name="ListeningSmsGet" 
        android:enabled="true" 
        android:exported="true"
        android:directBootAware="true">
        <intent-filter>
          <action android:name="android.provider.Telephony.SMS_RECEIVED">
          </action>
        </intent-filter>
        <!-- 兼容oppo手机 -->        
        <intent-filter>
          <action android:name="android.provider.OppoSpeechassist.SMS_RECEIVED">
          </action>
        </intent-filter>
      </receiver>        

    </application>

</manifest>
